<main>
    <div class="container my-5">
        <h1 class="text-center mb-5">PRODUCTOS</h1>
        <form id="formAddProduct" class="mb-5">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <input type="text" id="title" class="form-control" placeholder="TÍTULO" required>
                </div>
                <div class="col-md-6 mb-3">
                    <input type="text" id="description" class="form-control" placeholder="DESCRIPCIÓN" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <input type="number" id="price" class="form-control" placeholder="PRECIO" required>
                </div>
                <div class="col-md-6 mb-3">
                    <input type="text" id="img" class="form-control" value="Sin Imagen" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <input type="text" id="code" class="form-control" placeholder="CÓDIGO" required>
                </div>
                <div class="col-md-6 mb-3">
                    <input type="number" id="stock" class="form-control" placeholder="STOCK" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <input type="text" id="category" class="form-control" placeholder="CATEGORÍA" required>
                </div>
                <div class="col-md-6 mb-3">
                    <select id="status" class="form-select">
                        <option value="true">ACTIVO</option>
                        <option value="false">INACTIVO</option>
                    </select>
                </div>
            </div>
            <div class="d-grid">
                <button type="button" id="btnEnviar" class="btn btn-primary">AGREGAR PRODUCTO</button>
            </div>
        </form>
        <h1 class="text-center mb-5">PRODUCTOS DISPONIBLES</h1>
        <div class="row" id="containerProducts"></div>
    </div>
</main>