<main>
    <div class="container my-5">
        <h1 class="text-center mb-5">PRODUCTOS EN TIEMPO REAL</h1>
        <div class="row" id="containerProducts"></div>
    </div>
</main>

<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="/public/js/main.js"></script>