<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechStore</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="./images/pages/icon.png">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<body>
    <header>
        <div class="nav-container">
            <nav class="navbar">
                <div class="logo-container">
                    <img src="images/logo.png" alt="Logo de TechStore" class="logo">
                </div>
                <ul class="navbar-menu">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/realtimeproducts">Gestión de Productos</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="text">
        <p><b>Envíos gratis a todo el país.</b></p>
    </div>
    {{{body}}}
    <footer>
        <p>&copy; 2024 <span style="color: rgb(66, 133, 244); font-weight: bold;">Tech</span><span style="color: rgb(255, 72, 0); font-weight: bold;">Store</span>. Todos los derechos reservados.</p>
    </footer>
</body>

</html>
