<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="./css/styles.css">
  
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<body>
    <header>
        <div class="nav-container">

        </div>
  
    </header>
    <div class="text">
        <h1>Web de ventas online</h1>
    </div>  
    {{{body}}}
    <footer>
       <br> <p><br><b>Matias Altaparro</b> </p>
    </footer>
</body>

</html>